*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --black: #000;
  --gray: #9d9d9d;
  --light-gray: #f3f3f3;
  --green: #9dd458;
  
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.page__element {
  margin-bottom: 40px;
}
